/*Brings Headers to the very top of Screen: */
*
{
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/*BackGround Image: */
body
{
    background-image:url('multiMedia/circuitWallpaper.jfif');
    background-size: 33.3%;
    background-color: transparent;
}

/*The Header: */
h1
{
    color: red;
}

h2,h3
{
    color: white;
}

img
{
   height: 15%; 
   width: 60%;
   padding-left: 10%;
   padding-bottom: 5%;
}

body{
    align-items: center;
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapping{
    border-radius: 15px;
    box-shadow: 0 4px 30px rgb(35,35,35,0.1);
    color: red;
    background: white;
    border: 1px solid rgb(255,255,255,0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}
