/* Imports the "Poppins" Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    background: linear-gradient(rgb(66, 0, 66),rgb(95, 0, 95),rgb(155, 7, 155),rgb(252, 98, 255),rgb(253, 129, 255),rgb(255, 192, 248), white);
  }

  .wrapping{
    height: 540px;
    padding: 30px 35px;

    backdrop-filter: blur(5.25px);
    -webkit-backdrop-filter: blur(5.25px);
    border-radius: 15px;
    box-shadow: 0 4px 30px white;
    color: white;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgb(255,255,255,0.30);
    border: 1px solid rgb(255,255,255,0.34);
    flex-basis: 400px;
  }

  .wrapping header{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: rgb(133, 224, 255);
  }

  .wrapping form{
    margin: 40px 0 20px 0;
    text-align: center;
  }

  form :where(select, button){
    width: 100%;
    outline: none;
    border-radius: 25px;
    border:white solid 3px;
  }

  form label{
    font-size: 20px;
    margin-bottom: 5px;
  }

  form input{
    height: 50px;
    font-size: 17px;
    padding: 0 5px;
  }

  form button{
    height: 52px;
    color: white;
    background-color: rgb(133, 224, 255);
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s ease;
  }

  form button:hover{
    color: rgb(133, 224, 255);
    background-color: white;
  }

  .wrapping img{
    height: 25%;
    width: 100%;
  }

  /* Media Query to make the app responsive and pretty on mobile as well as desktop: */
  @media screen and (max-width: 767px) {
    .wrapping{
        height: 100%;
        width: 100%;
        padding: 10px 20px;
        margin: 20px;
    }
}